extends guild-template.pug

append guild-name
    h1#menu-title #{guild.g.name}

append content
    #data(data-id=guild.g.id)
    #center
        #view
            .opt
                p.ctitle Logs channel
                select.intext.stext#welcome_channel
                    each channel, index in channels
                        if data.welcomer.welcome.channel.id == channel.id
                            option(value=channel.id selected) #{channel.n}
                        else
                            option(value=channel.id) #{channel.n}
            .opt
                p.ctitle Auto moderator
                #automod.menu
                    .center
                        input.ichk(type="checkbox")
                        p.ctitle Delete invites
                    .center
                        input.ichk(type="checkbox")
                        p.ctitle Delete much @mentions
append scripts
    script(src="/js/basic.js")