extends template.pug

append head
    title Luke - Dashboard
    link(rel="stylesheet", href="/css/dashboard.css")

append navbar-content
    a(href="/dashboard")
        | Dashboard
    a(href="/api/logout")
        | Logout

append content
    #guilds
        for guild of guilds
            // | #{JSON.stringify(guild)}
            .guild
                .guild-img
                    img(height=100 width=100 onerror="this.src = '/img/dc-icon.jpg'" src=`https://cdn.discordapp.com/icons/${guild.g.id}/${guild.g.icon}.webp?size=640`)
                - let name = guild.g.name
                - if (name.length > 11) name = `${name.substr(0, 11)}...`
                p.guild-name #{name}
                .bottom
                    if guild.b
                        a(href=`/dashboard/${guild.g.id}`)
                            p.text Manage Guild
                    else
                        a(onclick=`let win = window.open("https://discord.com/api/oauth2/authorize?client_id=576478552158109716&permissions=8&guild_id=${guild.g.id}&scope=bot", "MsgWindow", "width=450,height=700"); let int = setInterval(() => { if (win.closed) { location.reload(); clearInterval(int) } }, 1000)`)
                            p.text Invite bot