extends guild-template.pug

append head
    link(rel="stylesheet", href="/css/basic.css")

append guild-name
    h1#menu-title #{guild.g.name}

append content
    #center
        #basic-content
            .opt
                p.ctitle Prefix
                input.intext#prefix(type="text" name="prefix" placeholder="prefix..." value=data.prefix)
            .opt
                p.ctitle Join channel
                select.intext.stext#join-channel(name="join-channel")
                    each channel, index in channels
                        p #{JSON.stringify(channel)}
                        option(value=channel.id) #{channel.n}
            .opt
                p.ctitle Left channel
                select.intext.stext#join-channel(name="join-channel")
                    each channel, index in channels
                        p #{JSON.stringify(channel)}
                        option(value=channel.id) #{channel.n}
append scripts
    script(src="/js/basic.js")